<%= form_for(@projtalk) do |f| %>
  <% if @projtalk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@projtalk.errors.count, "error") %> prohibited this projtalk from being saved:</h2>

      <ul>
      <% @projtalk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
