<p id="notice"><%= notice %></p>

<h1>Listing Projectmemberships</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Projectmembership</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projectmemberships.each do |projectmembership| %>
      <tr>
        <td><%= projectmembership.user_id %></td>
        <td><%= projectmembership.projectmembership_id %></td>
        <td><%= projectmembership.project_id %></td>
        <td><%= link_to 'Show', projectmembership %></td>
        <td><%= link_to 'Edit', edit_projectmembership_path(projectmembership) %></td>
        <td><%= link_to 'Destroy', projectmembership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projectmembership', new_projectmembership_path %>
