<%= form_for(@taskmembership) do |f| %>
  <% if @taskmembership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taskmembership.errors.count, "error") %> prohibited this taskmembership from being saved:</h2>

      <ul>
      <% @taskmembership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :taskmembership_id %><br>
    <%= f.number_field :taskmembership_id %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.number_field :task_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
