<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @jobcomment.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @jobcomment.content %>
</p>

<%= link_to 'Edit', edit_jobcomment_path(@jobcomment) %> |
<%= link_to 'Back', jobcomments_path %>
